<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo | Gin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.min.css" />
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mithril/2.0.4/mithril.min.js"></script>
  <script>
    let TodoModel = {
      todos: [],

      createTodoText: '',
      updateTodoText: '',
      updateTodoID: null,

      createTodo() {
        m.request('/api/todos', {
          method: 'post',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: {
            text: this.createTodoText
          },
          serialize: function(body) {
            return m.buildQueryString(body)
          }
        }).then(() => {
          this.getTodos()
        })

        this.createTodoText = ''
      },

      getTodos() {
        m.request('/api/todos')
          .then(response => {
            console.log(JSON.parse(response))
            this.todos = JSON.parse(response)
          })
      },

      deleteTodo(id) {
        m.request('/api/todos/'+id, {
          method: 'delete'
        }).then(() => {
          this.getTodos()
        })
      },

      changeTodoText(id) {
        m.request('/api/todos/'+id, {
          method: 'put',
          params: {
            text: this.updateTodoText
          }
        }).then(() => {
          TodoModel.updateTodoID = null
          TodoModel.updateTodoText = ''
          this.getTodos()
        })
      },

      completeTodo(id) {
        m.request('/api/todos/'+id, {
          method: 'put',
          params: {
            completed: 1,
          }
        }).then(() => {
          this.getTodos()
        })
      },

      uncompleteTodo(id) {
        m.request('/api/todos/'+id, {
          method: 'put',
          params: {
            completed: 0,
          }
        }).then(() => {
          this.getTodos()
        })
      }
    }

    let App = {
      currentTab: 'Uncompleted',

      oninit() {
        TodoModel.getTodos()
      },

      view() {
        return m('.container', [
          m('.columns', [
            m('.column.is-half.is-offset-one-quarter', {
              style: 'padding: 2rem;'
            }, [
              m('.panel', [
                m('h1.panel-heading', 'Todos'),
                m('.panel-block', [
                  m('form', {
                    style: 'width: 100%;',
                    onsubmit: (e) => {
                      e.preventDefault()
                      TodoModel.createTodo()
                    }
                  }, [
                    m('.field.has-addons', [
                      m('.control', {
                        style: 'width: 100%;'
                      }, [
                        m('input.input', {
                          placeholder: 'Add todo...',
                          oninput: (e) => {
                            TodoModel.createTodoText = e.target.value
                          },
                          value: TodoModel.createTodoText
                        })
                      ]),
                      m('.control', [
                        m('button.button.is-primary', {
                          type: 'submit'
                        }, m('i.fas.fa-plus'))
                      ])
                    ])
                  ])
                ]),
                m('p.panel-tabs', [
                  m('a', {
                    class: this.currentTab == 'Uncompleted' ? 'is-active' : null,
                    onclick: () => {
                      this.currentTab = 'Uncompleted'
                    }
                  }, 'Uncompleted'),
                  m('a', {
                    class: this.currentTab == 'Completed' ? 'is-active' : null,
                    onclick: () => {
                      this.currentTab = 'Completed'
                    }
                  }, 'Completed')
                ]),
                TodoModel.todos.filter(todo => this.currentTab == 'Completed' ? todo.Completed : !todo.Completed).map(todo => {
                  return m('.panel-block', {
                    style: 'justify-content: space-between',
                    key: todo.ID
                  }, [
                    todo.ID == TodoModel.updateTodoID
                    ? m('.field.has-addons', [
                        m('p.control', [
                          m('input.input.is-small', {
                            value: TodoModel.updateTodoText,
                            oninput: (e) => {
                              TodoModel.updateTodoText = e.target.value
                            }
                          })
                        ]),
                        m('p.control', [
                          m('button.button.is-small.is-success', {
                            onclick: () => {
                              TodoModel.changeTodoText(todo.ID)
                            }
                          }, 'Save')
                        ]),
                        m('p.control', [
                          m('button.button.is-small.is-danger', {
                            onclick: () => {
                              TodoModel.updateTodoID = null
                              TodoModel.updateTodoText = ''
                            }
                          }, 'Cancel')
                        ])
                      ])
                    : m('label.checkbox', [
                      m('input', {
                        type: 'checkbox',
                        onchange: () => {
                          if (todo.Completed) {
                            TodoModel.uncompleteTodo(todo.ID)
                          } else {
                            TodoModel.completeTodo(todo.ID)
                          }
                        }
                      }),
                      m('span', {
                        style: todo.Completed ? 'text-decoration: line-through' : null
                      }, todo.Text)
                    ]),
                    todo.ID == TodoModel.updateTodoID
                    ? null
                    : m('.field.has-addons', [
                      m('p.control', [
                        m('button.button.is-small.is-info', {
                          onclick: () => {
                            TodoModel.updateTodoText = todo.Text
                            TodoModel.updateTodoID = todo.ID
                          }
                        }, m('i.fas.fa-edit'))
                      ]),
                      m('p.control', [
                        m('button.button.is-small.is-danger', {
                          onclick: () => {
                            TodoModel.deleteTodo(todo.ID)
                          }
                        }, m('i.fas.fa-trash'))
                      ])
                    ])
                  ])
                })
              ])
            ])
          ])
        ])
      }
    }

    m.mount(document.body, App)
  </script>
</body>
</html>